# You can find documentation for all the supported env variables at https://wizarr.org/install/environment-variables

# The location where Wizarr will store files
STORAGE_DIR=./data/storage
# The location where your database files are stored
DATABASE_DIR=./data/database

# The type of database to use for Wizarr, can be either postgres or sqlite
DATABASE_TYPE=postgres

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# TZ=Etc/UTC

# The Wizarr version to use. You can pin this to a specific version like "v1.71.0"
WIZARR_VERSION=release

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=postgres

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_HOST=wizarr_postgres
DB_DATABASE_NAME=wizarr

REDIS_HOST=redis
REDIS_PORT=6379
#REDIS_USERNAME=undefined
#REDIS_PASSWORD=undefined

NODE_ENV=development